body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1,
h2 {
  text-transform: uppercase;
  text-align: center;
  color: lightseagreen;
}
h1 {
  font-size: 3vw;
}
h1 a {
  color: #8a8a8a;
  text-decoration: none;
  text-shadow: 4px 4px 4px rgb(156, 170, 169);
}
h1 a:hover {
  border: none;
}
.mini {
  text-align: center;
}
.mini p {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
}
nav {
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
nav a {
  font-size: 1.5vw;
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
  border: 1px solid #8a8a8a;
  padding: 7px;
  border-radius: 5px;
}
a:hover {
  border: 1px solid black;
}
nav a:hover {
  color: black;
}
.active {
  border-bottom: 2px solid black;
}
.active a {
  color: black !important;
}
.leftbox {
  height: auto;
  margin: 0;
  padding: 10px;
}
.rightbox {
  height: auto;
  padding: 0px;
  margin: 0px 10px;
}
.leftbox img {
  width: 100%;
  margin: 0;
  border-radius: 25px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.location {
  clear: both;
}
.position {
  clear: both;
}
hr {
  clear: both;
}
h3,
h4 {
  color: #8a8a8a;
}
h4 {
  font-style: italic;
}
ul {
  clear: both;
}
ul li {
  list-style-type: circle;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 400px;
}
img:hover {
  box-shadow: 0 0 10px 5px rgba(5, 114, 150, 0.5);
}
figure {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
figure a:hover {
  border: none;
}
figcaption {
  border: 1px solid rgba(5, 114, 150, 0.5);
  border-radius: 25px;
  padding: 20px;
  text-align: center;
}
